*.xcuserstate
project.xcworkspace/
xcuserdata/
GoogleService-info.plist
Get\ Together.xcodeproj/project.xcworkspace/xcuserdata/*
Get \Together.xcodeproj/project.xcworkspace/xcuserdata/*
Get\ Together.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
.DS_Store


